.habit-box{
	min-width: 450px;
	max-width:750px;
	position: relative;
	padding-top: 100px;
	.button-box{
		position: absolute;
		left: 135px;
		top: 20px;
	}
	.form-box{
		padding-top: 20px;
		padding-right: 10px;
		
		.el-form{

			.el-form-item{
				max-width:725px;
				min-width: 350px;
			}

		}
	}
}